*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('Img/back.png');
}

h2{
    color: white;
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    margin-top: 310px;
    word-spacing: 10px;
}

p{
    color: white;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    word-spacing: 10px;
    margin-top: 45px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

button{
    padding: 10px 45px;
    border-color: transparent;
    border-radius: 2px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.iarrows{
    display: flex;
}

button:hover{
    color: white;
    background-color: brown;
}

.container{
    display: block;
}

@media (max-width: 576px){
    .iarrows{
    display: block;

 }

 .right{
     margin-left: -800px;
     margin-top: -40px;

 }

}
 
